<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Img-to-text</title>
        <link rel="stylesheet" href="../static/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Jura&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <h1>Поле для загрузки фото</h1>

                <form class="upload-form" id="upload-form" method="post" enctype="multipart/form-data">

                    <label for="file"></label>
                    <input type="file" name="file" id="file" 
                    accept="image/png, image/jpeg, image/jpg, image/jfif, image/gif, image/svg, image/webp, image/bmp" hidden required>
                      
                    <input type="button" class="select-image" value="Обзор">
       
                    <div class="img-area" data-img="">
                        <h3>Загрузить изображение</h3>
                        <p>Размер изображения должен быть меньше <span>8MБ</span></p>
                    </div>  
                            
                    <div class="btn-submit">
                        <input class="submit" type="submit" value="Обработать">
                    </div>

                </form>
            </div>
        </div> 
        <script src="../static/script.js"></script>
    </body>
</html>